.box-task {
  display: flex;
  flex-direction: row;
  margin: 0.25rem;
}

.text-task {
  font-family: sans-serif;
  font-size: 1.5rem;
}

.active {
  border: 1px solid black;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: green;
  margin-right: 0.5rem;
}

.done {
  border: 1px solid black;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: red;
  margin-right: 0.5rem;
}
